body {
    font-family: Arial, Helvetica, sans-serif;
}
  
* {
    box-sizing: border-box;
}
  
/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

.container-form {
    width: 65%;
}
  
/* Full-width input fields */
input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
  
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
}
  
/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
  
.registerbtn:hover {
    opacity: 1;
}
  
/* Add a blue text color to links */
a {
    color: dodgerblue;
}
  
/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

/* add red text for validation */
.text-validation {
    color: red;
}

/* make social button center */
.row-social {
    width: 65%;
    margin: 1% auto 0 auto;
    text-align: center;   
}

.circle-share{
    background: #1b7fbd;
    border-radius: 40px;
    width: 50px;
    padding: 10px;
    text-align: center;
}

.circle-share.ig{
    background: #811111;
}

.circle-share i{
    color: #fff;
    font-size: 25px;
}